.login {
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
     
    .card {
        display: flex;
        width: 100%;
        background-color: white;
        border-radius: 20px;
        min-height: 600px;
        overflow: hidden;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
        margin: 100px;

        .left {
            flex: 1;
            width: 50%;
            background: linear-gradient(rgba(40, 29, 15, 0.5), rgba(33, 20, 2, 0.5)), url('../../assets/registerImg.jpg');
            background-size: cover;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            color: white;

            h1{
                font-size: 50px;
                line-height: 100px;
            }
            p{
                font-size: 14px;
            }
            button{
                width: 50%;
                padding: 10px;
                border: none;
                background-color: white;
                color: rgb(34, 21, 4);
                font-weight: bold;
                cursor: pointer;
                border-radius: 30px;
            }
        }
        .right {
            flex: 1;
            width: 50%;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            justify-content: center;

            h1{
                color: #555;
            }

            form {
                display: flex;
                flex-direction: column;
                gap: 30px;

                input {
                    border: none;
                    border-bottom: 1px solid lightgrey;
                    padding: 20px 10px;

                }

                button{
                    width: 50%;
                    padding: 10px;
                    border: none;
                    background-color: rgb(75, 45, 5);
                    color: white;
                    font-weight: bold;
                    border-radius: 30px;
                    cursor: pointer;
                }
            }
        }
    }
}