@import "../../index.scss";

.home{
  @include themify($themes) {
    padding: 30px 50px;
    background-color: themed("bgSoft");

    @include mobile {
      padding: 10px;
    }

    @include tablet{
      padding: 20px;
    }
  }
 }